.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: calc(10px + 5vmin);
  // background-color: #282c34;
}

img {
  height: 30vmin;
  pointer-events: none;
}

// @media (prefers-reduced-motion: no-preference) {
//   img {
//     animation: spin infinite 10s linear;
//   }
// }

// @keyframes spin {
//   from {
//     transform: rotate(0);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

a {
  color: #35495E;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #41b883;
}
